.ss-widget-full {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
  /* border: 1px solid blue; */
  padding-bottom: 24px;
  background-color: #f9f9f9;
}

.ss-container-text {
  padding-left: 26px;
  padding-right: 26px;
  margin-bottom: 32px;
  margin-top: 0;
}

.ss-forms-svg {
  margin-top: 18px;
  margin-left: -150px;
  margin-bottom: 28px;
}
